<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CryptoUtil.Password" value="ABAA84D7EC4BB56D55D217CECFFB9628809BDB8BF21CFCD64568A145BE89799F" />
    <add key="CryptoUtil.IV" value="a5e8d2e9c1721ae0e84ad660c472b1f3" />
    <add key="CryptoUtil.Salt" value="Legacy.Cryptography.Salt" />
  </appSettings>
</configuration>