@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-2">
        <div class="jumbotron">
            Legacy
        </div>
    </div>
    <div class="col-md-9">
        <iframe width="900" height="500" src="http://emol.com">

        </iframe>
    </div>
</div>